---
---

<header class="mt-20 mb-2">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" class="fill-orange-500 w-6 h-6 mb-4">
		<circle cx="50" cy="50" r="50" fill="#ea580c" />
	</svg>
	<h1 class="text-xl font-light">Kevin Kieninger</h1>
	<h2 class="text-lg font-light dark:text-gray-500 mb-3">Frontend Engineer</h1>
	{/*
		@TODO - eventually a blog page will live here and the nav will need to be added back in
		<nav>
			<div>
				<BaseLink href="/">Home</BaseLink>
				<BaseLink href="/blog">Blog</BaseLink>
			</div>
		</nav>
	*/}
</header>
