---

---

<div
  class="prose dark:prose-invert
  prose:text-gray-700 dark:prose:text-gray-400
  prose-h1:font-medium
  prose-h2:font-medium
  prose-h3:font-medium
  prose-h4:font-medium
  prose-h5:font-medium
  prose-h6:font-medium
  prose-a:underline prose-a:underline-offset-4
  prose-p:text-justify"
>
  <slot />
</div>
